button{
  width: 250px;
  height: 80px;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color:#fff;
  border: 5px solid #0088CC;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
}

button:hover{
  background-color: green;
}

.boton-clic{
  background-color: #002ead;
}

.boton-reiniciar{
  background-color: #5a01a7;
}

.boton-reiniciar:hover{
  background-color: red;
}